section{
    width: 23%;
    border-radius: 25px;
    border: 2px solid #000;
    padding: 1rem;
    header{
        margin-bottom: 1rem;
    }
}
.task{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border: 1px solid grey;
    margin-bottom: .5rem;
}