.blockAbsence{
    z-index: 111111;
    position: absolute;
    top: 50%;
    background: white;
    left: 35%;
    margin-top: -50px;
    margin-left: -100px;
    padding: 0 15px;
    width: 550px;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    span{
        margin: 25px 0 10px 0;
        display:block;
        font-weight: 700;
    }
    textarea{
        width: 97%;
        padding: 8px;
        font-size: 15px;
        height: 45px;
        border-radius: 5px;
    }

    button{
        position: relative;
        left: 360px;
        margin: 12px 5px;
    }
}

.mat-option{
    padding: 0 15px;
    border-radius: 5px;
    width: 250px;
    border: 1px solid black;
}

